@model ClinicaVeterinaria.Models.CheckoutSummaryViewModel

<h2>Riepilogo prodotti comprati</h2>

<h3>Informazioni sull'animale e Proprietario</h3>
<p>Nome Animale: @Model.Animale.Nome</p>
<p>Nome Proprietario: @Model.Animale.Proprietario</p>
<p>Codice Fiscale: @Model.Animale.CodiceFiscale</p>
<p>Numero Ricetta: @Model.NumeroRicetta</p>
<p>Nome Farmacista: @Model.NomeFarmacista</p>

<h3>Prodotti Acquistati</h3>
<h5 colspan="4">Totale speso:</h5>
<h5>@String.Format("{0:C}", Model.PrezzoTotale)</h5>
<table class="table">
    <thead>
        <tr>
            <th>Prodotto</th>
            <th>Venduto il</th>
            <th>Prezzo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vendita in Model.Vendite)
        {
            <tr>
                <td>@vendita.Product.Nome</td>
                <td>@vendita.DataVendita.ToString("dd/MM/yyyy")</td>
                <td>@String.Format("{0:C}", vendita.Prezzo)</td>
            </tr>
        }
    </tbody>
</table>


<div class="d-flex justify-content-end">
    <button id="printButton" class="btn btn-primary d-print-none">Stampa PDF</button>
</div>

<script>
    document.getElementById('printButton').addEventListener('click', function () {
        window.print();
    });
</script>
