@model ClinicaVeterinaria.Models.Pharmacist

<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f8f9fa;
    }

    .card {
        border-radius: 15px;
        border: none;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        transition: transform 0.3s ease-in-out;
    }

        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 6px 12px rgba(0,0,0,0.15);
        }

    .card-title {
        font-weight: 600;
        color: #007bff;
    }

    dt {
        font-size: 0.9em;
        color: #6c757d;
    }

    dd {
        font-size: 1.1em;
    }

    .card-body {
        padding: 2rem;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 mb-5 mt-4">
            <div class="card shadow-lg">
                <div class="card-header p-3 text-white" style="background-color:darkcyan">
                    <h3 class="mb-0 mx-2">Dettagli Farmacista</h3>
                </div>
                <div class="card-body py-3 px-4">
                    <h3 class="card-title mb-4" style="color:darkcyan">@Model.Nome @Model.Cognome</h3>
                    <dl class="row">
                        <dt class="col-sm-5">Data di Nascita</dt>
                        <dd class="col-sm-7">@Model.DataNascita.ToShortDateString()</dd>

                        <dt class="col-sm-5">Luogo di Nascita</dt>
                        <dd class="col-sm-7">@Model.LuogoNascita</dd>

                        <dt class="col-sm-5">Luogo di Residenza</dt>
                        <dd class="col-sm-7">@Model.LuogoResidenza</dd>

                        <dt class="col-sm-5">Codice Fiscale</dt>
                        <dd class="col-sm-7">@Model.CodiceFiscale</dd>

                        <dt class="col-sm-5">Matricola</dt>
                        <dd class="col-sm-7">@Model.Matricola</dd>

                        <dt class="col-sm-5">Email</dt>
                        <dd class="col-sm-7">@Model.Email</dd>

                        <dt class="col-sm-5">Password</dt>
                        <dd class="col-sm-7">@Model.PasswordFarmacista</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
