@model IEnumerable<ClinicaVeterinaria.Models.Product>

@{
    ViewBag.Title = "Cerca Prodotti";
}

<h2>Cerca Prodotti</h2>
<div class="text-right">
    <a href="@Url.Action("Ricetta", "Pharmacists")" class="btn btn-success my-2 float-right">Ricerca Ricetta</a>
</div>

@using (Html.BeginForm("Index", "Pharmacists", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="input-group mb-3">
        @Html.TextBox("search", null, new { @class = "form-control", @placeholder = "Nome Prodotto" })
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Cerca</button>
        </div>
    </div>

    <div class="input-group mb-3">
        @Html.TextBox("descriptionSearch", null, new { @class = "form-control", @placeholder = "Uso Prodotto" })
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Cerca per Uso</button>
        </div>
    </div>
}
@Html.ActionLink("Ordine", "Orders", "Pharmacists", new { @class = "btn btn-warning" })
@Html.ActionLink("Aggiungi Nuovo Prodotto", "AddNewProduct", "Pharmacists", new { @class = "btn btn-success" })


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (!Model.Any())
{
    <div class="alert alert-warning">Prodotto non trovato.</div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrizione</th>
                <th>Prezzo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                    <td>@Html.DisplayFor(modelItem => item.Descrizione)</td>
                    <td>@Html.DisplayFor(modelItem => item.Prezzo)€</td>
                    <td>
                        @Html.ActionLink("Aggiungi al resoconto", "AddToReport", new { id = item.ProductID }, new { @class = "btn btn-success" })
                        @Html.ActionLink("Dettagli", "Details", new { id = item.ProductID }, new { @class = "btn btn-info" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
