@model IEnumerable<ClinicaVeterinaria.Models.Product>

@{
    ViewBag.Title = "Cerca Prodotti";
}
<h2 class=" pb-3" style="color:darkcyan;border-bottom:1px solid; border-color:darkcyan">Pagina Prodotti</h2>
<h3 style="color:darkcyan">Cerca Prodotti</h3>
<div class="d-flex justify-content-between align-content-center my-3">
    @using (Html.BeginForm("Index", "Pharmacists", FormMethod.Get, new { @class = "form-inline" }))
    {
        <div class="d-flex align-items-center">
            <div class="input-group m-0">
                @Html.TextBox("search", null, new { @class = "form-control", @placeholder = "Nome Prodotto" })
                <button type="submit" class="btn text-white" style="background-color:darkcyan">Cerca</button>
            </div>

            <div class="input-group ms-4">
                @Html.TextBox("descriptionSearch", null, new { @class = "form-control", @placeholder = "Uso Prodotto" })
                <button type="submit" class="btn text-white" style="background-color:darkcyan">Cerca</button>
            </div>
        </div>
    }

<div>
    <a href="@Url.Action("Ricetta", "Pharmacists")" class="btn btn-success float-right" style="background-color:darkcyan">Ricerca Ricetta</a>
    <a href="@Url.Action("AddNewProduct", "Pharmacists")" class="btn btn-success float-right" style="background-color:darkcyan">Aggiungi Nuovo Prodotto</a>
</div>
</div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (!Model.Any())
{
    <div class="alert alert-warning">Prodotto non trovato.</div>
}
else
{
    <table class="table">
        <thead>
            <tr class="align-items-center">
                <th>Nome</th>
                <th>Descrizione</th>
                <th>Prezzo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                    <td>@Html.DisplayFor(modelItem => item.Descrizione)</td>
                    <td>@Html.DisplayFor(modelItem => item.Prezzo)€</td>
                    <td class="d-flex justify-content-center">
                        @Html.ActionLink("Aggiungi All'ordine", "AddToReport", new { id = item.ProductID }, new { @class = "btn me-2 text-white", style = "background-color:darkcyan" })
                        @Html.ActionLink("Dettagli", "Details", new { id = item.ProductID }, new { @class = "btn ms-2 text-white", style = "background-color:#016565" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
