@model ClinicaVeterinaria.Models.Beast

@{
    ViewBag.Title = "Add Beast";
}

<h2>Aggiungi Bestia</h2>

@using (Html.BeginForm("AddBeast", "Doctors", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="Nome" class="control-label">Data Registrazione</label>
        @Html.TextBoxFor(model => model.DataRegistrazione, new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(model => model.DataRegistrazione)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Nome)
        @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Nome)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Tipologia)
        @Html.TextBoxFor(model => model.Tipologia, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Tipologia)
    </div>

    <div class="form-group">
        <label for="Nome" class="control-label">Colore Mantello</label>
        @Html.TextBoxFor(model => model.ColoreMantello, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ColoreMantello)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Foto)
        @Html.TextBoxFor(model => model.Foto, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Foto)
    </div>

    <div class="form-group">
        <label for="Nome" class="control-label">Data Nascita</label>
        @Html.TextBoxFor(model => model.DataNascita, new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(model => model.DataNascita)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Proprietario)
        @Html.TextBoxFor(model => model.Proprietario, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Proprietario)
    </div>

    <div class="form-group">
        <label for="Nome" class="control-label">Codice Fiscale</label>
        @Html.TextBoxFor(model => model.CodiceFiscale, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CodiceFiscale)
    </div>

    <div class="form-group">
        <label for="Nome" class="control-label">Email Proprietario</label>
        @Html.TextBoxFor(model => model.EmailProprietario, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.EmailProprietario)
    </div>

    <div class="form-group">
        <label for="Nome" class="control-label">Cellulare Proprietario</label>
        @Html.TextBoxFor(model => model.CellulareProprietario, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CellulareProprietario)
    </div>

    <div class="form-group">
        <label for="Nome" class="control-label">Patologie Pregresse</label>
        @Html.TextBoxFor(model => model.PatologiePregresse, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PatologiePregresse)
    </div>

    <div class="form-group">
        <label for="Nome" class="control-label">Codice Microchip</label>
        @Html.TextBoxFor(model => model.MicrochipCodice, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.MicrochipCodice)
    </div>

    <div class="d-flex my-2">
        <div class="form-group">
            <label for="Nome" class="control-label">Data Di Nascita Presunta</label>
            @Html.CheckBoxFor(model => model.Presunta)
            @Html.ValidationMessageFor(model => model.Presunta)
        </div>

        <div class="form-group mx-3">
            <label for="Nome" class="control-label">Microchip</label>            
            @Html.CheckBoxFor(model => model.Microchip)
            @Html.ValidationMessageFor(model => model.Microchip)
        </div>

        <div class="form-group">
            <label for="Nome" class="control-label">Randagio</label>
            @Html.CheckBoxFor(model => model.Smarrito)
            @Html.ValidationMessageFor(model => model.Smarrito)
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
}
